<!DOCTYPE html>
<html>
    <head>
        <title>A propos</title>
        <link rel = 'stylesheet' href = 'css/styles.css'/>
    </head>
    <body>
        <div class = "main-content">
        {{>header}}

        <p>Ce site a été créé par {{name}}, il est inspiré du tutoriel d'Andrew Mead sur Node.js<br>
        Vous pouvez gérer vos différentes tâches à accomplir ici, et vous créer un profile
     </p>
        
        </div>
        {{>footer}}
    </body>
</html>