<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <link rel = 'stylesheet' href = '/css/styles.css'/>
    </head>
    <body>
        <div class = "main-content">
        {{>header}}
        <p>Utilisez ce site pour gérer vos tâches !</p>
        <p>Vous avez déjà un compte?</p>
        <div id="login-area"></div>
        <form id="loginForm"> 
            
            <input placeholder="Email" id="email">
            <input placeholder="Mot de passe" type="password", id="password">
            <button>Connexion</button>
        </form>
        <p id="responseArea"></p>
        
        <button id="showSignup">Je n'ai pas de compte</button>
        <div id="signupArea">
            <form id="signupForm">
                <input placeholder="Nom complet" id="signupName"><br>
                <input placeholder="Email" id="signupEmail" ><br><span id="emailHelp" class="signupHelp"></span><br>
                <input placeholder="Mot de passe" type="password" id="signupPassword"><br><span id="passwordHelp" class="signupHelp"></span><br>
                <input placeholder="Verifier le mot de passe" type="password" id="passwordCheck"><br><span id="passwordCheckHelp" class="signupHelp"></span><br>
                <p id="signupResponse"></p>
                <button id="signup">Inscription</button>
            </form>
            
        </div>
        
        {{>footer}}
        <script src="/js/index.js"></script>
    </body>
</html>