<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <link rel = 'stylesheet' href = '/css/styles.css'/>
    </head>
    <body>
        <div class = "main-content">
        {{>header}}
        <p id="welcome-message"></p>
        {{>task_navigation}}
        
        <div class="custom-select" style="width:200px;">
            <label>Filtrer les tâches : </label> 
  <select id="filterTasksCompleted">
    <option value="0">Toutes les tâches</option>
    <option value="1">Terminées</option>
    <option value="2">A faire</option>
    
  </select>
</div>
        <div id="task-view"></div>
        </div>
        {{>footer}}

        <script src="/js/task_manager.js"></script>
    </body>
</html>