<menu class="task_navigation">
    <a href="/new">Nouvelle tâche</a>
    <a href="/task_manager">Mes tâches</a>
    <a href="/profile">Mon profile</a>
    <a href="/user_logout" id="logout">Déconnexion</a>
</menu>